<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/signup.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/resnav.css">
    <link rel="shortcut icon" type="image/jpg" href="/img/imgz.jpg">
    <title>VANGUARD - Photography</title>
</head>
<style>
        @import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap');
        .margin-left {
            margin-left: 20px;
            text-decoration: none;
            padding-top: 4px;
        }
        
        body {
            scroll-behavior: smooth;
        }
        
        .margin-left i {
            font-size: 24px;
            color: rgba(255, 255, 255, 0.801);
            /* margin-top: 2px; */
        }
        
        .margin-left i:hover {
            color: white;
        }
        
        .lt-2 {
            letter-spacing: 35px;
            margin-bottom: 10px;
        }
        
        .lt-1 {
            letter-spacing: 15px;
            margin-bottom: 120px;
            font-size: 20px;
        }
        
        .btn-1,
        .btn-1:link,
        .btn-1:visited {
            text-transform: uppercase;
            text-decoration: none;
            padding: 1.5rem 4rem;
            display: inline-block;
            border-radius: 10rem;
            transition: all .2s;
            position: relative;
            font-size: 1.6rem;
            border: none;
            cursor: pointer;
        }
        
        .btn-1:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        }
        
        .btn-1:hover::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
        
        .btn-1:active,
        .btn-1:focus {
            outline: none;
            transform: translateY(-1px);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        }
        
        .btn--white::after {
            background-color: rgba(255, 255, 255, 0.466)
        }
        
        .btn-1::after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 10rem;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .4s;
        }
        
        .btn--animated {
            animation: moveInBottom .5s ease-out .75s;
            animation-fill-mode: backwards;
        }
        
        .sec-3 {
            display: flex;
            justify-content: center;
            padding: 20px;
        }
        
        .sec-3 ul {
            list-style: none;
            margin: 20px;
        }
        
        .sec-3 ul li {
            display: inline-block;
            width: 60px;
            height: 60px;
            padding: 20px;
            background-color: #424242;
            border-radius: 50%;
            margin: 20px;
            margin-right: 20px;
        }
        
        .sec-3 ul li i {
            color: white;
            font-size: 24px;
            line-height: 20px;
            text-align: center;
        }
        
        .sec-3 ul li:nth-child(1):hover {
            background-color: #3b5999;
        }
        
        .sec-3 ul li:nth-child(2):hover {
            background-color: #55acee;
        }
        
        .sec-3 ul li:nth-child(3):hover {
            background-color: #dd4b39;
        }
        
        .sec-3 ul li:nth-child(4):hover {
            background-color: #0077B5;
        }
        
        .sec-3 ul li:nth-child(5):hover {
            background-color: #ea4c89;
        }
        .dropdown-item:hover {
            background-color: rgba(6, 104, 250, 0.397);
        }
        
        .gf {
           
            font-family: 'Texturina', serif;
            font-size: 15px;
            margin-top: 10px;
        }
        
        .opa {
            background-color: rgba(128, 128, 128, 0.555);
        }
        
        cr {
            color: white;
            font-size: 24px;
            line-height: 20px;
            text-align: center;
        }
        
        .crli {
            width: 60px;
            height: 60px;
            padding: 20px;
            background-color: #424242;
            border-radius: 50%;
            margin: 20px;
            margin-right: 20px;
        }
        .navbar-nav .nav-link {
        color: white; 
        margin-right: 20px; 
    }

   
    .navbar-nav .nav-link:hover {
        color: rgba(255, 255, 255, 0.8); 
    }
    </style>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="navbar-brand"><img src="/img/imgz.jpg" style="height: 35px; width: 35px;"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Artworks
          </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Sculpture">Sculpture</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Photography">Photography</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Painting">Painting</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/NewMedia">New Media</a>
                    </div>
                </li>
                <li>
                <a class="nav-link" href="/contact">Contact</a>
            </li>
                <li>
                <a class="nav-link" href="/login">Logout</a>
            </li>
            </ul>

    </nav>
    
  </div>
  <div class="container cont mt-5">
    <div class="row">
        <div class="col-md-4  col1">
            <div class="bor">
                <div class="container-fluid card1 shadow-lg p-2 mb-5 bg-white rounded"
                    style="height: 450px;width: 300px; border: 1px solid rgba(128, 128, 128, 0.041);">
                    <img src="img/fph1.jpg" style="width: 100%;" alt="Card image">
                    <div class="mt-2">
                        <h6>Marble Jane Shelly by Cindy Sherman</h6>
                        <h5 class="d-inline" style="color:grey;"><i class="fa fa-rupee"></i>&nbsp;9,990</h5>
                        <i class="fa fa-heart-o d-block float-right text-primary" style="font-size:24px;"></i>

                        <div class="mt-4">
                            <button href="#" class="btn btn-primary " style="width: 45%;" onclick="">Buy
                                Now</button>
                            <button href="#" id="b1" class="btn btn-primary float-right b1 a1" style="width: 45%;"
                                onclick="added(this)">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="row">
                <div class="col-md-12  col2">
                    <div class="bor">
                        <div class="container-fluid card1 shadow-lg p-2 mb-5 bg-white rounded"
                            style="height: 450px;width: 300px; border: 1px solid rgba(128, 128, 128, 0.041);">
                            <img src="img/fph2.jpg" style="width: 100%;" alt="Card image">
                            <div class="mt-2">
                                <h6>White Flower - Prashant Lalchandani.</h6>
                                <h5 class="d-inline" style="color:grey;"><i class="fa fa-rupee"></i>&nbsp;1,529</h5>
                                <i class="fa fa-heart-o d-block float-right text-primary"
                                    style="font-size:24px;"></i>

                                <div class="mt-4">
                                    <button href="#" class="btn btn-primary " style="width: 45%;" onclick="">Buy
                                        Now</button>
                                    <button href="#" id="b2" class="btn btn-primary float-right b2 a2"
                                        style="width: 45%;" onclick="added()">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12  col3">
                    <div class="bor">
                        <div class="container-fluid card1 shadow-lg p-2 mb-5 bg-white rounded"
                            style="height: 450px;width: 300px; border: 1px solid rgba(128, 128, 128, 0.041);">
                            <img src="img/fph3.jpg" style="width: 100%;" alt="Card image">
                            <div class="mt-2">
                                <h6>Yellow Flowers by Shri Sai.</h6>
                                <h5 class="d-inline" style="color:grey;"><i class="fa fa-rupee"></i>&nbsp;1999</h5>
                                <i class="fa fa-heart-o d-block float-right text-primary"
                                    style="font-size:24px;"></i>

                                <div class="mt-4">
                                    <button href="#" class="btn btn-primary " style="width: 45%;" onclick="">Buy
                                        Now</button>
                                    <button href="#" id="b3" class="btn btn-primary float-right b3 a3"
                                        style="width: 45%;" onclick="added()">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="row">
                <div class="col-md-12  col4">
                    <div class="bor">
                        <div class="container-fluid card1 shadow-lg p-2 mb-5 bg-white rounded"
                            style="height: 450px;width: 300px; border: 1px solid rgba(128, 128, 128, 0.041);">
                            <img src="img/fph4.jpg" style="width: 100%;" alt="Card image">
                            <div class="mt-2">
                                <h6>Beautiful Vases by Asthana Awasthi.</h6>
                                <h5 class="d-inline" style="color:grey;"><i class="fa fa-rupee"></i>&nbsp;2199</h5>
                                <i class="fa fa-heart-o d-block float-right text-primary"
                                    style="font-size:24px;"></i>

                                <div class="mt-4">
                                    <button href="#" class="btn btn-primary " style="width: 45%;" onclick="">Buy
                                        Now</button>
                                    <button href="#" id="b4" class="btn btn-primary float-right b4 a4"
                                        style="width: 45%;" onclick="added()">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12  col5">
                    <div class="bor">
                        <div class="container-fluid card1 shadow-lg p-2 mb-5 bg-white rounded"
                            style="height: 450px;width: 300px; border: 1px solid rgba(128, 128, 128, 0.041);">
                            <img src="img/fph6.jpg" style="width: 100%;" alt="Card image">
                            <div class="mt-2">
                                <h6>Autumn Scene by Kanta Geri.</h6>
                                <h5 class="d-inline" style="color:grey;"><i class="fa fa-rupee"></i>&nbsp;4110</h5>
                                <i class="fa fa-heart-o d-block float-right text-primary"
                                    style="font-size:24px;"></i>

                                <div class="mt-4">
                                    <button href="#" class="btn btn-primary " style="width: 45%;" onclick="">Buy
                                        Now</button>
                                    <button href="#" id="b5" class="btn btn-primary float-right b5 a5"
                                        style="width: 45%;" onclick="added()">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<footer class="container-fluid  opa">
        <h2 class="text-center">Contact Us</h2>
        <section class="sec-3">
            <ul>
              <li><a href="hhttps://www.linkedin.com/in/aditi-singh-a20362254/"><i class="fa fa-linkedin"></i></a></li>

            </ul>

        </section>
        <p class="text-center">&copy&nbsp;2024-2025 VANGUARD</p>
    </footer>
    <script>
        function added(e) {
            var y = event.target.id;
            var x = document.getElementById(y);
            // console.log(x);
            var x = document.getElementsByClassName(y);
            for (i = 0; i < x.length; i++) {
                x[i].innerHTML = 'Added <i class="fa fa-check-circle"></i>';
            }
            //  x.innerHTML='Added <i class="fa fa-check-circle"></i>';

            x.style.color = "white";
            // document.getElementById("b").style.background = "blue";
        }




    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>